body {
	font-family: 'Lucida Sans Unicode';
	font-size: 12px;
}

table {
	width: 600px;
	border-collapse: collapse;
	border-spacing: 2px 2px;
	border-color: gray;
	display: table;
	background: #B9C9FE;
	color: #039;
	border-radius: 4px;
}

td {
	background: #E8EDFF;
	border-top: 1px solid white;
	color: #669;
	padding: 8px;
}
