div.top-header {
	width: 960px;
	margin-bottom: 30px;
}

span.logo {
	float: left;
}

span.nav-bar {
	float: right;
	padding-top: 10px;
	font-size: 90%;
	font-family: arial;
	font-weight: bold;
	color: gray;
}

span.refresh-button {
	margin-left: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 1px 1px 2px #000;
	-moz-border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px #000;
	background: #E6E6E6;
	padding: 4px;
	font-weight: bold;
	color: gray;
}

img.logo {
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	border: 0px;
}

div.tab-head-container {
	margin-top: 10px;
}

span.tab-head {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-box-shadow: 3px 3px 4px #000;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-box-shadow: 3px 3px 4px #000;
	padding: 10px;
	font-weight: bold;
	font-size: 20;
}

span.tab-head-inactive {
	background-color: #F2F2F2;
	color: gray;
}

span.tab-head-active {
	background-color: #EFF5FB;
	color: #0B0B3B;
}

div.tab-page-container {
	position: absolute;
	width: 960px;
	background-color: #EFF5FB;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-box-shadow: 5px 5px 0px #6E6E6E;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-box-shadow: 5px 5px 0px #6E6E6E;
}

div.tab-page {
	padding: 30px;
	line-height: 140%;
}

div.tab-page-active {
	display: block;
}

div.tab-page-inactive {
	display: none;
}

table.dashboard-icon td {
	padding: 20px;
}

span.status-message {
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 3px 3px 4px #000;
	-moz-border-radius: 10px;
	-moz-box-shadow: 3px 3px 4px #000;
	padding: 10px;
	font-weight: bold;
	font-size: 24;
	color: black;
}

div.shard-server-list
{
	margin-top: 10px;
}

span.create-button {
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 1px 1px 2px #000;
	-moz-border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px #000;
	background: #04B404;
	padding: 4px;
	font-weight: bold;
	color: white;
}

span.modify-button {
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 1px 1px 2px #000;
	-moz-border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px #000;
	background: #F7BE81;
	padding: 4px;
	font-weight: bold;
	color: white;
}

span.delete-button {
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 1px 1px 2px #000;
	-moz-border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px #000;
	background: #F78181;
	padding: 4px;
	font-weight: bold;
	color: white;
}

div.quorum {
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 3px 3px 4px #000;
	-moz-border-radius: 10px;
	-moz-box-shadow: 3px 3px 4px #000;
	width: 95%;
	padding: 20px;
	margin: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

table.quorum {
	width: 100%;
}

td.quorum-head {
	width: 100px;
}

td.quorum-actions {
	width: 120px;
}

span.quorum-head {
	font-weight: bold;
	font-size: 20;			
}

table.quorum td {
	padding: 10px;
	line-height: 150%;
}

div.shard {
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 3px 3px 4px #000;
	-moz-border-radius: 10px;
	-moz-box-shadow: 3px 3px 4px #000;
	width: 94%;
	padding: 20px;
	margin: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

table.shard {
	width: 100%;
}

td.shard-head {
	width: 100px;
}

td.shard-actions {
	width: 120px;
}

span.shard-head {
	font-weight: bold;
	font-size: 20;			
}

table.shard td {
	padding: 10px;
	line-height: 150%;
}

hr.head {
	border: 1px solid #585858;
	width: 100%;
}

.healthy {
	background: #66FF00;
}

.unhealthy {
	background: #CCFF66;
}

.critical {
	background: #FF6600;
}

span.quorum-head {
	font-weight: bold;
	font-size: 120%;			
}

span.primary {
	background-color: #5FB404;
}

span.secondary {
	background-color: #04B45F;
}

span.no-heartbeat {
	background-color: #FF6600;
}

span.listing {
	font-size: 22;
}

div.database {
	background: #E0ECF8;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 3px 3px 4px #000;
	-moz-border-radius: 10px;
	-moz-box-shadow: 3px 3px 4px #000;
	padding: 20px;
	margin: 10px;
	width: 95%;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

div.table {
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 3px 3px 4px #000;
	-moz-border-radius: 10px;
	-moz-box-shadow: 3px 3px 4px #000;
	padding: 20px;
	margin: 10px;
	width: 94%;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

span.database-head {
	font-size: 22;			
}

table.table {
	width: 100%;
}

td.table-head {
	width: 100px;
}

td.table-actions {
	width: 120px;
}

span.table-head {
	font-weight: bold;
	font-size: 20;			
}

table.table td {
	padding: 10px;
	line-height: 150%;
}

span.quorum-number {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 1px 5px;
	padding-top: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
/*	background-color: #AEB404;			
*/}

span.shard-number {
	-webkit-border-radius: 3px;
	-moz-border-radius: 8px;
	padding: 1px 5px;
	padding-top: 3px;	
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

span.shardserver-number {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 1px 5px;
	padding-top: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	color: black;
}

span.inactive {
	background-color: #D8D8D8;
}

a.no-line {
	text-decoration: none;
}

img.close {
	float: right;
}

input.console-input {
    border: none;
	background-color: #EFF5FB;
	cursor: auto;
}